body{
  width: 100%;
  height: 100%;

}
/* Estilo para el modal */
#bienvenida-modal {
  display: none;
}

.modal-fullscreen {
  display: flex;
  align-content: center;
  position: fixed;
  align-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7B529E; /* Color de fondo del modal */
  z-index: 1050;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;   /* Centra verticalmente */

}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Centra el texto horizontalmente */
  color: white;
  border: none !important; /* Elimina el borde */
  background: transparent !important; /* Fondo transparente para quitar el fondo blanco */
  font-family: 'Roboto', sans-serif; /* Fuente para párrafos */
}

h1, h2, h3 {
  font-family: 'Lora', serif; /* Fuente para títulos y subtítulos */
}

.titulo_modal{
  font-size: 3rem !important;
}

.h2_modal{
  font-size: 4rem !important;
}

.p_modal{
  margin-top: 2rem;
  font-size: 1rem;
}

p {
  font-family: 'Roboto', sans-serif; /* Fuente para párrafos */
}

.btn-welcome {
  margin-top: 1rem;
  background-color: #E5C5FF !important; /* Fondo del botón */
  color: #340061; /* Color de la tipografía */
  border: 1rem solid #D1A4F8; /* Borde del botón */
  border-radius: 15px; /* Bordes redondeados */
  padding: 10px 20px; /* Tamaño del botón */
  transition: all 0.3s ease; /* Suavizar las transiciones */
}

.btn-welcome:hover {
  background-color: #D1A4F8 !important; /* Color en hover */
  color: white; /* Color del texto en hover */
  border-color: #D1A4F8; /* Color del borde en hover */
}

.adorno-estrellas {
  width: 40%; /* Tamaño del adorno */

}

.background-stars {
  background-image: url("assets/christmas-background-with-pastel-bokeh-lights-stars-design.jpg"); /* Cambia esto por tu imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
  color: white;
  font-family: 'Roboto', sans-serif; /* Fuente para párrafos */
}

/* Línea horizontal con corte para la fecha */
.linea-horizontal {
  height: 1px; /* Grosor de la línea */
  background: white; /* Color de la línea */
  width: 40%; /* Ancho de cada parte de la línea */
  display: inline-block;
  background: #340061; /* Color de la línea */
}

/* Estilo para el texto de la fecha */
.fecha {
  margin: 1px 0 !important; /* Margen para separar la fecha de la línea */
  font-family: 'Roboto', sans-serif; /* Fuente para la fecha */
  font-size: 2rem !important;
  color: #340061; /* Color de la tipografía */
}

.background-stars h1{
  color: #340061 !important; /* Color de la tipografía */
}

.background-stars h2{
  color: #340061 !important; /* Color de la tipografía */
}

.contador {
  font-size: 1.5rem; /* Tamaño del texto del contador */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinear al inicio verticalmente */
  margin: 20px auto; /* Margen alrededor del contador */
  color: #340061; /* Color para las etiquetas */
  font-family: 'Roboto', sans serif; /* Fuente para etiquetas */
}

.contador-unidad {
  margin: 1rem 10px; /* Espacio entre unidades */
  text-align: center;
}

.contador-numero {
  font-size: 3rem; /* Tamaño de los números */
}

.contador-etiqueta {
  font-size: 1.5rem; /* Tamaño de las etiquetas */
}

/* Línea horizontal con corte para la fecha */
.linea-horizontal_contador {
  height: 1px; /* Grosor de la línea */
  background: white; /* Color de la línea */
  width: 100%; /* Ancho de cada parte de la línea */
  background: #340061; /* Color de la línea */
  margin: 0 !important;
  margin-bottom: 0.8rem !important;
}

.btn-music {
  margin-top: 1.5rem;
  background: #FBFCFC;
  border: none;
  cursor: pointer;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 0.1rem solid #D1A4F8; /* Borde del botón */
  border-radius: 30px; /* Bordes redondeados */
}

/* Animación para la estrella */
@keyframes estrella-desde-arriba {
  0% {
  transform: translateY(-100%); /* Comienza desde arriba de la página */
  }
  100% {
  transform: translateY(0); /* Termina en su posición original */
  }
}

.estrella {
  animation: estrella-desde-arriba 1.5s ease-out; /* Duración más rápida */
  position: relative; /* Permite ajustar la posición */
  top: -20px; /* Ajuste para alinearse con la fecha */

}

/* Sección debajo del cover */
.section-below-cover {
  text-align: center; /* Centrar el contenido */
  padding: 0;
}

/* Estilo para el título "Fiesta" */
.titulo-fiesta {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 15rem;
  border-radius: 1.1rem;
  background-color: #7B529E; /* Fondo del título */
  color: white; /* Color del texto */
  font-family: 'Lora', serif; /* Fuente para el título */
  font-size: 2rem; /* Tamaño del título */
  padding: 10px; /* Espacio alrededor del texto */
  display: inline-block; /* Para ajustar el ancho al contenido */
}

/* Estilo para las etiquetas y valores */
.etiqueta {
  color: #340061; /* Color para las etiquetas */
  font-family: 'Roboto', sans serif; /* Fuente para etiquetas */
  font-size: 2rem; /* Tamaño del texto de las etiquetas */
  }

.valor {
  color: #7B529E; /* Color para los valores */
  font-family: 'Roboto', sans serif; /* Fuente para valores */
  font-size: 1.3rem; /* Tamaño del texto de los valores */
  margin-bottom: 1.5rem;
  }
/* Estilo para la sección de regalos */
.gif{
margin-bottom: 1.5rem;
}
.section-regalos {
  width: 100%;
  text-align: center; /* Centrar el contenido */
  padding: 20px; /* Espacio interno */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  border-radius: 10px; /* Bordes redondeados */
  margin-top: 20px; /* Margen superior */
}

.section-regalos h1 {
  color: #7B529E; /* Color del título */
  font-family: 'Lora', serif; /* Fuente para títulos */
  font-size: 2.5rem; /* Tamaño del título */
}

.section-regalos h2 {
  color: #7B529E; /* Color del subtítulo */
  font-family: 'Lora', serif; /* Fuente para subtítulos */
  font-size: 1.5rem; /* Tamaño del subtítulo */
  margin-top: 10px; /* Espacio superior */
}

.section-regalos p {
  color: #340061; /* Color del párrafo */
  font-family: 'Roboto', sans serif; /* Fuente para párrafos */
  font-size: 1.2rem; /* Tamaño del párrafo */
  margin-top: 10px; /* Espacio superior */
}

/* Estilo para el footer */
footer {
  margin-top: 4rem;
  background-color: #340061; /* Color del fondo */
  height: 5rem; /* Altura del footer */
  bottom: 0; /* Mantener en la parte inferior */
}


/* Estilo responsivo con media queries */
@media (max-width: 768px) {
  .background-stars {
      padding: 10px; /* Espacio adicional para pantallas pequeñas */
      height: 40rem;
  }
  .section-regalos, .section-below-cover {
      padding: 20px; /* Espacio adicional para pantallas pequeñas */
  }

  .btn-welcome {
      padding: 8px 15px; /* Ajustar el tamaño para dispositivos móviles */
  }

  .titulo-fiesta {
      font-size: 1.5rem; /* Ajustar el tamaño del texto para dispositivos móviles */
  }

  .contador-numero {
      font-size: 2.5rem; /* Reducir el tamaño del número */
  }

  .contador-etiqueta {
      font-size: 0.8rem; /* Ajustar el tamaño de las etiquetas */
  }

    /* Contenedores para imágenes a la izquierda y derecha */
.imagenes-izquierda {
  display: flex;
  flex-direction: column; /* Colocar imágenes una debajo de la otra */
  justify-content: center; /* Centrar verticalmente */
  align-items: flex-start; /* Mantenerse en el lado izquierdo */
  animation: imagenes-desde-izquierda 1s ease-in-out; /* Aplicar la animación */
  float: left; /* Flotar a la izquierda */
  margin-right: 0rem;
  left: -20px; /* Ajuste para alinearse con la fecha */
}
.imagenes-derecha {
  display: flex;
  flex-direction: column; /* Colocar imágenes una debajo de la otra */
  justify-content: center; /* Centrar verticalmente */
  align-items: flex-end; /* Mantenerse en el lado derecho */
  animation: imagenes-desde-derecha 1.5s ease-in-out; /* Aplicar la animación */
  float: right; /* Flotar a la derecha */
}
/* Imágenes con tamaño y espacio */
.imagen {
  width: 60px; /* Ancho de las imágenes */
  height: auto; /* Mantener proporciones */

}
/* Estilo para el título "Fiesta" */
.titulo-fiesta {
  margin-bottom: 2rem;
  width: 15rem;
  border-radius: 1.1rem;
  background-color: #7B529E; /* Fondo del título */
  color: white; /* Color del texto */
  font-family: 'Lora', serif; /* Fuente para el título */
  font-size: 2rem; /* Tamaño del título */
  padding: 10px; /* Espacio alrededor del texto */
  display: inline-block; /* Para ajustar el ancho al contenido */
  text-align: center
}
  footer{

  }
}
